@charset "UTF-8";

body {
    background-color:#D0F3AE;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: #586649;

}
h1#principal {
    text-align: center;
    background-color: #8FA677;
    color: white;
}

h2 {
    color: #87CC93;
}
.basico {
    color: #87ccac
}

.intermediario {
    color:#c7cc87
}

.avancado {
    color:#cc8787
}

.destaque {
    background-color: rgba(201, 201, 50, 0.664);
}